PMWelfare/Connected Services/LoginService/URALoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mgt-svr/loginService/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt-svr/loginService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mgt-svr/loginService/">
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whoIsSearching" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="herPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:AdEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="physicalDeliveryOfficeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="givenName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="proxyAddresses" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mailNickname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="employeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sAMAccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ipPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateDomainUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateDomainUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateDomainUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDomainPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDomainPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeDomainPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateDomainUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateDomainUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateDomainUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateDomainUserResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeDomainPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeDomainPassword" />
  </wsdl:message>
  <wsdl:message name="ChangeDomainPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeDomainPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="UraLoginServiceSoap">
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateDomainUser">
      <wsdl:input message="tns:AuthenticateDomainUserSoapIn" />
      <wsdl:output message="tns:AuthenticateDomainUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDomainPassword">
      <wsdl:input message="tns:ChangeDomainPasswordSoapIn" />
      <wsdl:output message="tns:ChangeDomainPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UraLoginServiceSoap" type="tns:UraLoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://mgt-svr/loginService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://mgt-svr/loginService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateDomainUser">
      <soap:operation soapAction="http://mgt-svr/loginService/AuthenticateDomainUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDomainPassword">
      <soap:operation soapAction="http://mgt-svr/loginService/ChangeDomainPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UraLoginServiceSoap12" type="tns:UraLoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://mgt-svr/loginService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://mgt-svr/loginService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateDomainUser">
      <soap12:operation soapAction="http://mgt-svr/loginService/AuthenticateDomainUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDomainPassword">
      <soap12:operation soapAction="http://mgt-svr/loginService/ChangeDomainPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UraLoginService">
    <wsdl:port name="UraLoginServiceSoap" binding="tns:UraLoginServiceSoap">
      <soap:address location="http://10.1.0.179/Loginservice/URALoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="UraLoginServiceSoap12" binding="tns:UraLoginServiceSoap12">
      <soap12:address location="http://10.1.0.179/Loginservice/URALoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>